In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sbn

WARNING:tensorflow:From C:\Users\hmyrg\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df=pd.read_csv("car_web_scraped_dataset.csv")
df

,name,year,miles,color,condition,price
0,Kia Forte,2022,"41,406 miles","Gray exterior, Black interior","No accidents reported, 1 Owner","$15,988"
1,Chevrolet Silverado 1500,2021,"15,138 miles","White exterior, Black interior","1 accident reported, 1 Owner","$38,008"
2,Toyota RAV4,2022,"32,879 miles","Silver exterior, Unknown interior","No accidents reported, 1 Owner","$24,988"
3,Honda Civic,2020,"37,190 miles","Blue exterior, Black interior","No accidents reported, 1 Owner","$18,998"
4,Honda Civic,2020,"27,496 miles","Black exterior, Black interior","No accidents reported, 1 Owner","$19,498"
...,...,...,...,...,...,...
2835,Ford Escape,2013,"98,601 miles","Silver exterior, Unknown interior","2 accidents reported, 3 Owners","$8,995"
2836,Mercedes-Benz R-Class,2009,"120,694 miles","Black exterior, Black interior","1 accident reported, 3 Owners","$9,495"
2837,Mercedes-Benz GLC,2022,"27,894 miles","Gray exterior, Gray interior","No accidents reported, 2 Owners","$29,999"
2838,Honda CR-V,2021,"50,220 miles","Gray exterior, Unknown interior","No accidents reported, 1 Owner","$22,992"
2839,Honda Civic,2021,"26,510 miles","White exterior, Black interior","No accidents reported, 1 Owner","$24,135"

In [3]:
#Farklı markaların kategorik verilerini numeriğe dönüştürüyoruz
from sklearn.preprocessing import LabelEncoder

In [4]:
label_encoder=LabelEncoder()
df["name_encoder"]=label_encoder.fit_transform(df["name"])
df["color_encoder"]=label_encoder.fit_transform(df["color"])
df["condition_encoder"]=label_encoder.fit_transform(df["condition"])

In [5]:
'''fig, axes = plt.subplots(1, 2, figsize=(10, 4))

sbn.countplot(x='name', data=df, ax=axes[0])
axes[0].set_title('Asıl Veri')

sbn.countplot(x='marka_encoder', data=df, ax=axes[1])
axes[1].set_title('Label Encoding Sonrası')

plt.show() '''
#label encodingi kontrol ettim
print("Sınıf Etiketleri:", label_encoder.classes_)
print("Atamalar:", label_encoder.transform(label_encoder.classes_))
df

Sınıf Etiketleri: ['1 accident reported, 1 Owner' '1 accident reported, 2 Owners'
 '1 accident reported, 3 Owners' '1 accident reported, 4 Owners'
 '1 accident reported, 5 Owners' '2 accidents reported, 1 Owner'
 '2 accidents reported, 2 Owners' '2 accidents reported, 3 Owners'
 '2 accidents reported, 4 Owners' '2 accidents reported, 5 Owners'
 '3 accidents reported, 1 Owner' '3 accidents reported, 2 Owners'
 '3 accidents reported, 3 Owners' '3 accidents reported, 4 Owners'
 '4 accidents reported, 2 Owners' '4 accidents reported, 3 Owners'
 '5 accidents reported, 5 Owners' 'No accidents reported, 0 Owners'
 'No accidents reported, 1 Owner' 'No accidents reported, 2 Owners'
 'No accidents reported, 3 Owners' 'No accidents reported, 4 Owners'
 'No accidents reported, 5 Owners' 'No accidents reported, 7 Owners'
 'No accidents reported, 8 Owners']
Atamalar: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]

,name,year,miles,color,condition,price,name_encoder,color_encoder,condition_encoder
0,Kia Forte,2022,"41,406 miles","Gray exterior, Black interior","No accidents reported, 1 Owner","$15,988",157,19,18
1,Chevrolet Silverado 1500,2021,"15,138 miles","White exterior, Black interior","1 accident reported, 1 Owner","$38,008",66,54,0
2,Toyota RAV4,2022,"32,879 miles","Silver exterior, Unknown interior","No accidents reported, 1 Owner","$24,988",283,45,18
3,Honda Civic,2020,"37,190 miles","Blue exterior, Black interior","No accidents reported, 1 Owner","$18,998",121,8,18
4,Honda Civic,2020,"27,496 miles","Black exterior, Black interior","No accidents reported, 1 Owner","$19,498",121,1,18
...,...,...,...,...,...,...,...,...,...
2835,Ford Escape,2013,"98,601 miles","Silver exterior, Unknown interior","2 accidents reported, 3 Owners","$8,995",93,45,7
2836,Mercedes-Benz R-Class,2009,"120,694 miles","Black exterior, Black interior","1 accident reported, 3 Owners","$9,495",220,1,2
2837,Mercedes-Benz GLC,2022,"27,894 miles","Gray exterior, Gray interior","No accidents reported, 2 Owners","$29,999",214,22,19
2838,Honda CR-V,2021,"50,220 miles","Gray exterior, Unknown interior","No accidents reported, 1 Owner","$22,992",119,24,18
2839,Honda Civic,2021,"26,510 miles","White exterior, Black interior","No accidents reported, 1 Owner","$24,135",121,54,18

In [6]:
df=df.drop(["name"],axis=1)
df

,year,miles,color,condition,price,name_encoder,color_encoder,condition_encoder
0,2022,"41,406 miles","Gray exterior, Black interior","No accidents reported, 1 Owner","$15,988",157,19,18
1,2021,"15,138 miles","White exterior, Black interior","1 accident reported, 1 Owner","$38,008",66,54,0
2,2022,"32,879 miles","Silver exterior, Unknown interior","No accidents reported, 1 Owner","$24,988",283,45,18
3,2020,"37,190 miles","Blue exterior, Black interior","No accidents reported, 1 Owner","$18,998",121,8,18
4,2020,"27,496 miles","Black exterior, Black interior","No accidents reported, 1 Owner","$19,498",121,1,18
...,...,...,...,...,...,...,...,...
2835,2013,"98,601 miles","Silver exterior, Unknown interior","2 accidents reported, 3 Owners","$8,995",93,45,7
2836,2009,"120,694 miles","Black exterior, Black interior","1 accident reported, 3 Owners","$9,495",220,1,2
2837,2022,"27,894 miles","Gray exterior, Gray interior","No accidents reported, 2 Owners","$29,999",214,22,19
2838,2021,"50,220 miles","Gray exterior, Unknown interior","No accidents reported, 1 Owner","$22,992",119,24,18
2839,2021,"26,510 miles","White exterior, Black interior","No accidents reported, 1 Owner","$24,135",121,54,18

In [7]:
df=df.drop(["color"],axis=1)

In [8]:
df=df.drop(["condition"],axis=1)

In [9]:
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')

In [10]:
df['miles'] = df['miles'].str[:-5]
df['miles'] = df['miles'].str.replace(',', '')

In [12]:
df.isnull().sum() #eksik veri olup olmadığını kontrol ediyorum

year                 0
miles                0
price                0
name_encoder         0
color_encoder        0
condition_encoder    0
dtype: int64

In [13]:
#plt.figure(figsize=(7,5))
#sbn.distplot(dataFrame["price"])
df.corr()["price"].sort_values()

miles               -0.546219
name_encoder        -0.078692
color_encoder       -0.009191
condition_encoder    0.153515
year                 0.458511
price                1.000000
Name: price, dtype: float64

In [16]:
df

      year    miles  price  name_encoder  color_encoder  condition_encoder
0     2022   41406   15988           157             19                 18
1     2021   15138   38008            66             54                  0
2     2022   32879   24988           283             45                 18
3     2020   37190   18998           121              8                 18
4     2020   27496   19498           121              1                 18
...    ...      ...    ...           ...            ...                ...
2835  2013   98601    8995            93             45                  7
2836  2009  120694    9495           220              1                  2
2837  2022   27894   29999           214             22                 19
2838  2021   50220   22992           119             24                 18
2839  2021   26510   24135           121             54                 18

[2840 rows x 6 columns]

In [19]:
df.sort_values("price",ascending=False).head(20)

      year    miles  price  name_encoder  color_encoder  condition_encoder
1308  2022   16010   99995            50             54                 18
1420  2011  157099    9999           115              1                 20
1393  2007   94629    9999           221             52                 20
1852  2014  106165    9999           118             40                 19
1785  2015  116291    9998           137             10                 18
677   2011  152825    9998            91             60                 19
2032  2015  116291    9998           137             10                 18
2677  2013  142018    9998           186             43                  0
1584  2017   94402    9998            84              8                  5
1828  2009   97702    9995           173             32                 17
1060  2016  111113    9995            93             22                 19
1717  2015   90699    9995           236             57                  1
2714  2014  145219    9995           285             22                  7
792   2007  108459    9995           171             61                 21
727   2009  112045    9995           173              1                 16
573   2009  112045    9995           173              1                 16
2311  2011  105424    9995            37             60                 11
2523  2011  105424    9995            37             60                 11
1966  2015   90699    9995           236             57                  1
317   2015   57114    9993           137             33                  0

In [20]:
df.describe()

              year  name_encoder  color_encoder  condition_encoder
count  2840.000000   2840.000000    2840.000000        2840.000000
mean   2018.833803    161.571127      28.595775          14.893310
std       3.557585     88.926543      21.821169           6.867453
min    2000.000000      0.000000       0.000000           0.000000
25%    2017.000000     93.000000       5.000000          18.000000
50%    2020.000000    157.000000      22.000000          18.000000
75%    2021.000000    241.000000      54.000000          18.000000
max    2024.000000    308.000000      63.000000          24.000000

In [22]:
len(df)

2840