In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv("car_web_scraped_dataset.csv")
df

,name,year,miles,color,condition,price
0,Kia Forte,2022,"41,406 miles","Gray exterior, Black interior","No accidents reported, 1 Owner","$15,988"
1,Chevrolet Silverado 1500,2021,"15,138 miles","White exterior, Black interior","1 accident reported, 1 Owner","$38,008"
2,Toyota RAV4,2022,"32,879 miles","Silver exterior, Unknown interior","No accidents reported, 1 Owner","$24,988"
3,Honda Civic,2020,"37,190 miles","Blue exterior, Black interior","No accidents reported, 1 Owner","$18,998"
4,Honda Civic,2020,"27,496 miles","Black exterior, Black interior","No accidents reported, 1 Owner","$19,498"
...,...,...,...,...,...,...
2835,Ford Escape,2013,"98,601 miles","Silver exterior, Unknown interior","2 accidents reported, 3 Owners","$8,995"
2836,Mercedes-Benz R-Class,2009,"120,694 miles","Black exterior, Black interior","1 accident reported, 3 Owners","$9,495"
2837,Mercedes-Benz GLC,2022,"27,894 miles","Gray exterior, Gray interior","No accidents reported, 2 Owners","$29,999"
2838,Honda CR-V,2021,"50,220 miles","Gray exterior, Unknown interior","No accidents reported, 1 Owner","$22,992"
2839,Honda Civic,2021,"26,510 miles","White exterior, Black interior","No accidents reported, 1 Owner","$24,135"

In [14]:
#Farklı markaların kategorik verilerini numeriğe dönüştürüyoruz
print((df['name'].str.split().str[0]).unique())

['Kia' 'Chevrolet' 'Toyota' 'Honda' 'Mercedes-Benz' 'BMW' 'Jeep' 'Porsche'
 'Buick' 'Nissan' 'Chrysler' 'Volkswagen' 'Land' 'Dodge' 'Ford' 'INFINITI'
 'Volvo' 'Mitsubishi' 'Lexus' 'Hyundai' 'Mazda' 'Acura' 'Maserati'
 'Subaru' 'Audi' 'Jaguar' 'GMC' 'Cadillac' 'Ram' 'Alfa' 'FIAT' 'Lincoln'
 'Aston' 'MINI' 'Genesis' 'Karma' 'Scion' 'McLaren' 'Rolls-Royce'
 'Bentley' 'Pontiac' 'Saturn']